.App {
  background-color:#18242b;
  color: white;
  width: 100%;
  min-height: 100vh;
}

header {
  margin: 0 0 40px;
  padding: 20px 60px;
  background: #0a0808;
  box-shadow: 0 0 8px 3px #080606;
}

header h2 {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 80%;
  height: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.container .list {
  height: 100%;
  overflow: auto;
}

.container .form {
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.container .form input {
  margin: 20px 0;
  padding: 5px 10px;
  outline: none;
  font-size: 14px;
  font-family: 'Cairo', sans-serif;
  border-radius: 0px;
  color: white;
  border: none;
  border-bottom: 1px white solid;
  background: #282d33;
}

/* .container .form input:not([type="button"]):focus {
  box-shadow: 0 0 12px -2px black;
  transition-duration: .1s;
} */

.container .form input[type="button"] {
  cursor: pointer;
  background: black;
  border: none;
  font-weight: 600;
  width: 150px;
  transition-duration: .2s;
}
